.contact-box {
    text-align: center;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.socials a {
    transition: transform 0.2 ease;
}

.socials a:hover {
    transform: scale(1.2);
}